body {
	background-color: #F3F6FA;
}

table {
	border: 1px solid #CBD8AC;
}

input {
	height: 30px;
}

tr {
	height: 35px;
}

.title {
	font-size: 20px;
	font-weight: bold;
}

#td_color {
	background-color: #CBD8AC;
	border: 1px solid #CBD8AC;
	width: 15%;
}

#td_none {
	border: 1px solid #CBD8AC;
	width: 30%;
}